<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/wiki"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Rockets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar animated (ionInput)="search($event)" (ionClear)="clear()"></ion-searchbar>

  <ion-list>
    <ion-card *ngFor="let rocket of rockets" [routerLink]="['/rockets', rocket.id]">
      <ion-img src={{rocket.image_url}} *ngIf="rocket.image_url != null"></ion-img>
      <ion-img src="assets/placeholder.jpg" *ngIf="rocket.image_url == null"></ion-img>
      <ion-card-header>
        <ion-card-title>{{rocket.full_name}}</ion-card-title>
        <ion-card-subtitle>
          {{rocket.variant}} | {{rocket.family}}
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll position="bottom" threshold="60%" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="circular">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>