<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/wiki"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>
      Launches
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar animated (ionInput)="search($event)" (ionClear)="clear()"></ion-searchbar>
  <!--Launches-->
  <ion-list>
    <ion-card *ngFor="let launch of launches" [routerLink]="['/launches', launch.id]">
      <img src={{launch.image}} sizes="small" />
      <ion-card-header>
        <ion-card-title>{{launch.name}}</ion-card-title>
        <ion-card-subtitle>
          {{launch.rocket.configuration.name}} | {{launch.launch_service_provider.name}}
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{launch.net | date:'medium'}}
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll position="bottom" threshold="60%" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="circular">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>