<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title mode="ios">
      <h1><b>HYPERGOL</b></h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title mode="ios" size="large"><b>HYPERGOL</b></ion-title>
    </ion-toolbar>
  </ion-header>

  <ngx-twitter-timeline *ngIf="theme.matches" [source]="{sourceType: 'profile', screenName: 'NASASpaceflight'}"
    [options]="{chrome: 'noheader nofooter', theme: 'dark'}">
  </ngx-twitter-timeline>

  <ngx-twitter-timeline *ngIf="!theme.matches" [source]="{sourceType: 'profile', screenName: 'NASASpaceflight'}"
    [options]="{chrome: 'noheader nofooter', theme: 'light'}">
  </ngx-twitter-timeline>
</ion-content>