<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title text-center>
      Hypergol
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="ion-text-center" size="large"><b>HYPERGOL</b></ion-title>
    </ion-toolbar>
  </ion-header>

  <!--Content-->
  <ion-card color="warning" *ngIf="launches$ | async; let launch" [routerLink]="['/launches', launch[showID].id]">
    <ion-card-header>
      <h5><b>{{ demo }}</b></h5>
    </ion-card-header>
    <ion-card-content>
      <h2><b>{{ launch[showID].launch_service_provider.name }}</b> will launch <b>{{ launch[showID].mission.name }}</b>
        mission on it's <b>{{ launch[showID].rocket.configuration.name }}</b> rocket from <b>{{
          launch[showID].pad.name}}</b> launch pad.
      </h2>
    </ion-card-content>

  </ion-card>
  <ion-card *ngFor="let launch of launches$|async|slice:showID" [routerLink]="['/launches', launch.id]">
    <img src={{launch.image}} sizes="small" />
    <ion-card-header>
      <ion-card-title>{{launch.name}}</ion-card-title>
      <ion-card-subtitle>
        {{launch.rocket.configuration.name}} | {{launch.launch_service_provider.name}}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{launch.net | date:'medium'}}
    </ion-card-content>
  </ion-card>

</ion-content>