<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title text-center>
      Hypergol
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="ion-text-center" size="large"><b>HYPERGOL</b></ion-title>
    </ion-toolbar>
  </ion-header>

  <!--Countdown-->
  <ion-card color="warning" *ngIf="upcomingLaunch" [routerLink]="['/launches', upcomingLaunch.id ]">
    <ion-card-header>
      <h5><b>{{ demo }}</b></h5>
    </ion-card-header>
    <ion-card-content>
      <h2><b>{{ upcomingLaunch.launch_service_provider.name }}</b> will launch <b>{{ upcomingLaunch.mission.name }}</b>
        mission on it's <b>{{ upcomingLaunch.rocket.configuration.name }}</b> rocket from <b>{{
          upcomingLaunch.pad.name}}</b> launch pad.
      </h2>
    </ion-card-content>
  </ion-card>

  <!--Launches-->
  <ion-list>
    <ion-card *ngFor="let launch of launches|slice:showID" [routerLink]="['/launches', launch.id]">
      <img src={{launch.image}} sizes="small" />
      <ion-card-header>
        <ion-card-title>{{launch.name}}</ion-card-title>
        <ion-card-subtitle>
          {{launch.rocket.configuration.name}} | {{launch.launch_service_provider.name}}
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{launch.net | date:'medium'}}
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll position="bottom" threshold="20%" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>