<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/wiki"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">
      Astronauts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar animated (ionInput)="search($event)" (ionClear)="clear()"></ion-searchbar>
  <ion-list>
    <ion-card *ngFor="let astronaut of astronauts" [routerLink]="['/astronaut', astronaut.id]">
      <ion-img src={{astronaut.profile_image}} sizes="small"></ion-img>
      <ion-card-header>
        <ion-card-title>{{astronaut.name}}</ion-card-title>
        <ion-card-subtitle>
          {{astronaut.nationality}} | {{astronaut.status.name}}
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll position="bottom" threshold="20%" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="circular">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>