<ion-header [translucent]="true" *ngIf="launch$ | async; let launch">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title text-center>
      {{launch.mission.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content *ngIf="launch$ | async; let launch">
    <!--Countdown-->
    <ion-card color="warning">
      <ion-card-content>
        <h5><b>{{ countdown }}</b></h5>
      </ion-card-content>
    </ion-card>
    <!--Description-->
    <ion-card>
      <img src={{launch.image}} />
      <ion-card-header color="warning">
        <ion-card-title>{{launch.name}}</ion-card-title>
      </ion-card-header>
      <ion-list>
        <ion-item>
          Description: {{launch.status.description}}
        </ion-item>
        <ion-item>
          Status: {{launch.status.name}}
        </ion-item>
        <ion-item>
          Window Start: {{launch.window_start | date:'medium'}}
        </ion-item>
        <ion-item>
          Webcast: <a href={{launch.vidURLs[0].url}}> Youtube</a>
        </ion-item>
      </ion-list>
    </ion-card>

    <!--Updates-->
    <ion-card>
      <ion-card-header color="warning">
        <ion-card-title size="small">Updates</ion-card-title>
      </ion-card-header>
      <ion-list>
        <ion-item *ngFor="let post of launch.updates.reverse();">
          <p><b>{{post.created_on | date}}</b> | {{post.comment}}</p>
        </ion-item>
      </ion-list>
    </ion-card>

    <!--Mission-->
    <ion-card>
      <ion-card-header color="warning">
        <ion-card-title size="medium">Mission</ion-card-title>
      </ion-card-header>
      <ion-list>
        <ion-item>
          Name: {{launch.mission.name}}
        </ion-item>
        <ion-item>
          Description: {{launch.mission.description}}
        </ion-item>
        <ion-item>
          Type: {{launch.mission.type}}
        </ion-item>
        <ion-item>
          Orbit: {{launch.mission.orbit.name}}
        </ion-item>
      </ion-list>
    </ion-card>

    <!--Rocket-->
    <ion-card>
      <img src={{launch.image}} />
      <ion-card-header color="warning">
        <ion-card-title size="medium">Rocket</ion-card-title>
      </ion-card-header>
      <ion-list>
        <ion-item>
          Name: {{launch.rocket.configuration.name}}
        </ion-item>
        <ion-item>
          Description: {{launch.rocket.configuration.description}}
        </ion-item>
        <ion-item>
          Variant: {{launch.rocket.configuration.variant}}
        </ion-item>
        <ion-item>
          Maiden Flight: {{launch.rocket.configuration.maiden_flight | date}}
        </ion-item>
        <ion-item>
          Total Launch Cost: {{launch.rocket.configuration.total_launch_count}}
        </ion-item>
      </ion-list>
    </ion-card>

    <!--Pad-->
    <ion-card>
      <img src={{launch.pad.map_image}} />
      <ion-card-header color="warning">
        <ion-card-title size="medium">Launch Pad</ion-card-title>
      </ion-card-header>
      <ion-list>
        <ion-item>
          Name: {{launch.pad.name}}
        </ion-item>
        <ion-item>
          Location: {{launch.pad.location.name}}
        </ion-item>
        <ion-item>
          Total Launch Count: {{launch.pad.total_launch_count}}
        </ion-item>
        <ion-item>
          Total Landing Count: {{launch.pad.location.total_landing_count}}
        </ion-item>
      </ion-list>
    </ion-card>

    <!--Links-->
    <!--Statistics-->
    <ion-card>
      <ion-card-header color="warning">
        <ion-card-title size="medium">Statistics</ion-card-title>
      </ion-card-header>
      <ion-list>
        <ion-item>
          Total orbital launch attempt: {{launch.orbital_launch_attempt_count}}
        </ion-item>
        <ion-item>
          Total {{launch.launch_service_provider.name}} launch attempt: {{launch.agency_launch_attempt_count}}
        </ion-item>
        <ion-item>
          Orbital launch attempt in 2021: {{launch.orbital_launch_attempt_count_year}}
        </ion-item>
        <ion-item>
          {{launch.launch_service_provider.name}} launch attempt in 2021: {{launch.agency_launch_attempt_count_year}}
        </ion-item>
      </ion-list>
    </ion-card>
  </ion-content>