<ion-header [translucent]="true" *ngIf="agency">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/agencies"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">
      {{agency.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="agency">
  <!--Basic info-->
  <ion-card class="card-background-page">
    <img src={{agency.image_url}} sizes="small" />
    <ion-card-header color="warning">
      <ion-card-title>{{agency.name}}</ion-card-title>
    </ion-card-header>
    <ion-list lines="none">
      <ion-item>
        <p>{{agency.description}}</p>
      </ion-item>
      <ion-item>
        <ion-label><b>Type</b></ion-label>
        <p text-wrap>{{agency.type}}</p>
      </ion-item>
      <ion-item>
        <ion-label><b>Country Code</b></ion-label>
        <p text-wrap>{{agency.country_code}}</p>
      </ion-item>
    </ion-list>
  </ion-card>

  <!--Details-->
  <ion-card>
    <ion-card-header color="warning">
      <ion-card-title size="small">Details</ion-card-title>
    </ion-card-header>
    <ion-list lines="none">
      <ion-item *ngIf="agency.administrator != ''">
        <ion-label text-wrap><b>Administrator</b></ion-label>
        <p text-wrap>{{agency.administrator}}</p>
      </ion-item>
      <ion-item *ngIf="agency.founding_year != null">
        <ion-label><b>Founding Year</b></ion-label>
        <p>{{agency.founding_year}}</p>
      </ion-item>
      <ion-item *ngIf="agency.parent != null">
        <ion-label><b>Parent Company</b></ion-label>
        <p>{{agency.parent}}</p>
      </ion-item>
      <ion-item *ngIf="agency.launchers != ''">
        <ion-label><b>Rockets</b></ion-label>
        <p>{{agency.launchers}}</p>
      </ion-item>
      <ion-item *ngIf="agency.spacecraft != ''">
        <ion-label><b>Spacecraft</b></ion-label>
        <p>{{agency.spacecraft}}</p>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>